# .gitignore
# ホワイトリスト形式にする
/*
/.**

# global
!/README.md
!/.gitignore

# config
!/.config/
!/.config/**

# zsh
!/.zshrc

# tmux
!/.tmux.conf

# vim
!/.vim/
!/.vim/Ultisnips/
!/.vim/Ultisnips/*
!/.vim/colors
!/.vim/colors/*

# nvim
!/.config/nvim/coc-settings.json
!/.config/nvim/init.vim
!/.config/nvim/colors/*

